{% load static %}
<form
  method="post"
  action="{% url 'billing_add' %}"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-7">
          <!-- Billing Details -->
          <div class="billing-details">
            <div class="section-title">
              <h3 class="title">Billing address</h3>
            </div>
            <div class="form-group">
              <input
                class="input"
                type="text"
                name="first_name"
                placeholder="First Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="text"
                name="last_name"
                placeholder="Last Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="email"
                name="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="text"
                name="address"
                placeholder="Address"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="text"
                name="town"
                placeholder="City"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="text"
                name="country"
                placeholder="Country"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="text"
                name="postcode"
                placeholder="ZIP Code"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="tel"
                name="phone"
                placeholder="Telephone"
                required
              />
            </div>
            <div class="form-group text-center">
              <a
                target="_blank"
                href="https://link.payway.com.kh/aba?id=99B0B1D764C2&dynamic=true&source_caller=sdk&pid=af_app_invites&link_action=abaqr&shortlink=82bkr4zt&amount={{ total_price }}&created_from_app=true&acc=004479617&af_siteid=968860649&userid=99B0B1D764C2&code=702060&c=abaqr&af_referrer_uid=1670238319223-3477361"
                class="btn btn-primary"
                >Pay Now</a
              >
              <hr />
              <div class="qr-code">
                <p>QR Code Image:</p>
                <img
                  src="{% static 'img/QrCode.jpg' %}"
                  width="300"
                  class="img-fluid"
                />
              </div>
              <hr />
            </div>
            <div class="form-group">
              <label for="qr_code_image" class="form-label"
                >Upload Your Receipt:</label
              >
              <input
                type="file"
                name="qr_code_image"
                id="qr_code_image"
                class="form-control"
                required
              />
            </div>
          </div>
          <!-- /Billing Details -->

          <!-- Shipping Details -->
          <div class="shiping-details">
            <div class="section-title">
              <h3 class="title">Shipping address</h3>
            </div>
            <div class="input-checkbox">
              <input type="checkbox" id="shiping-address" />
              <label for="shiping-address">
                <span></span>
                Ship to a different address?
              </label>
              <div class="caption">
                <div class="form-group">
                  <input
                    class="input"
                    type="text"
                    name="ship_first_name"
                    placeholder="First Name"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="input"
                    type="text"
                    name="ship_last_name"
                    placeholder="Last Name"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="input"
                    type="email"
                    name="ship_email"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="input"
                    type="text"
                    name="ship_address"
                    placeholder="Address"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="input"
                    type="text"
                    name="ship_town"
                    placeholder="City"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="input"
                    type="text"
                    name="ship_country"
                    placeholder="Country"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="input"
                    type="text"
                    name="ship_postcode"
                    placeholder="ZIP Code"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="input"
                    type="tel"
                    name="ship_phone"
                    placeholder="Telephone"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- /Shipping Details -->

          <!-- Order notes -->
          <div class="order-notes">
            <textarea
              class="input"
              name="order_notes"
              placeholder="Order Notes"
            ></textarea>
          </div>
          <!-- /Order notes -->
        </div>

        <!-- Order Details -->
        <div class="col-md-5 order-details">
          <div class="section-title text-center">
            <h3 class="title">Your Order</h3>
          </div>
          <div class="order-summary">
            <div class="order-col">
              <div><strong>PRODUCT</strong></div>
              <div><strong>TOTAL</strong></div>
            </div>
            <div class="order-products">
              {% for id, item in cart.items %}
              <div class="order-col">
                <div>{{ item.productName }} x{{ item.quantity }}</div>
                <div>${{ item.total }}</div>
              </div>
              {% endfor %}
            </div>
            <div class="order-col">
              <div>Shipping</div>
              <div><strong>FREE</strong></div>
            </div>
            <div class="order-col">
              <div><strong>TOTAL</strong></div>
              <div><strong class="order-total">${{ total_price }}</strong></div>
            </div>
            <input type="hidden" name="total" value="{{ total_price }}" />
          </div>

          <div class="payment-method">
            <div class="input-radio">
              <input type="radio" name="payment" id="payment-1" value="bank" />
              <label for="payment-1">
                <span></span>
                Direct Bank Transfer
              </label>
            </div>
            <div class="input-radio">
              <input
                type="radio"
                name="payment"
                id="payment-2"
                value="cheque"
              />
              <label for="payment-2">
                <span></span>
                Cheque Payment
              </label>
            </div>
            <div class="input-radio">
              <input
                type="radio"
                name="payment"
                id="payment-3"
                value="paypal"
              />
              <label for="payment-3">
                <span></span>
                Paypal System
              </label>
            </div>
          </div>
          <div class="input-checkbox">
            <input type="checkbox" id="terms" required />
            <label for="terms">
              <span></span>
              I've read and accept the <a href="#">terms & conditions</a>
            </label>
          </div>
          <input
            type="submit"
            class="primary-btn order-submit"
            value="Place order"
          />
        </div>
        <!-- /Order Details -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
</form>
