{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Electro - HTML Ecommerce Template</title>

		<!-- Google font -->
		{% include 'electro/Head.html'%}
    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			{% comment %} {% include 'electro/TopHeader.html'%} {% endcomment %}
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			{% include 'electro/MainHeader.html'%}
			
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->
		
		<!-- NAVIGATION -->
		{% include 'electro/Navigation.html'%}
		
		<!-- /NAVIGATION -->
		
		<!-- SECTION 1-->
		{% include 'electro/Section1.html'%}
		
		<!-- /SECTION 1-->
		
		<!-- SECTION 2-->
		{% include 'electro/Section2.html'%}
		
		<!-- /SECTION 2-->
		
		<!-- HOT DEAL SECTION -->
		{% include 'electro/HotDealSection1.html'%}
		
		<!-- /HOT DEAL SECTION -->
		
		<!-- SECTION 3-->
		
		{% comment %} {% include 'electro/Section3.html'%} {% endcomment %}
		<!-- /SECTION 3-->
		
		<!-- SECTION 4-->
		{% include 'electro/Section4.html'%}
		
		<!-- /SECTION -->
		
		<!-- NEWSLETTER -->
		
		{% comment %} {% include 'electro/NewsLetter.html'%} {% endcomment %}
		<!-- /NEWSLETTER -->
		
		<!-- FOOTER -->
		
		{% include 'electro/Footer.html'%}
		<!-- /FOOTER -->
		
		<!-- jQuery Plugins -->
		{% include 'electro/jQuery.html'%}
		
	</body>
</html>
